
.header {
  background-color: darkslategrey;
}

.issuesHeader {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: left;
  align-items: center;
}

.btn {
  padding: 10px;
  font-size: 1rem;
  margin: 20px 10px 20px 0;
  border-radius: 10px;
}

.newIssue {
  background-color: #2ea44f;
  color: white;
  text-decoration: none;
}

.newIssue:focus {
  outline: none;  
}

select:focus {
  outline: none;
}

.pagination ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.pagination li {
  display: inline;
  font-size: 1.5rem;
  border-radius: 10px;
  padding: 0 6px; 
  cursor: pointer;
}

.active {
  background-color: dodgerblue;
  color: white;
}

.newIssueForm {
  width: 80%;
  margin: 0 auto;
}

.newIssueForm input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 1.3rem;
}

.newIssueForm legend {
  font-size: large;
  margin-top: 20px;
}

.formBtn {
  padding: 10px 15px;
  font-size: 1rem;
  margin: 20px 10px 20px 0;
  border-radius: 10px;
}

.formBtn:focus {
  outline: none;
}